{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  
<!--   <a class="grid-view-item__link grid-view-item__image-container full-width-link" href="{{ product.url }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>  -->

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}

  <div class="product-card__image-with-placeholder-wrapper" data-image-loading-animation>
    <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper product-card__image-wrapper js">
      <div class="custom__padding" style="padding-top:{% unless preview_image == blank %}{{ 1 | divided_by: preview_image.aspect_ratio | times: 100 }}%{% else %}100%{% endunless %};">
         <a class="" href="{{ product.url }}">
 
        <img id="{{ img_id }}"
              loading="lazy"
              width="{{ preview_image.width }}"
              height="{{ preview_image.height }}"
              class="grid-view-item__image first__image"
              alt="{{ preview_image.alt }}"
              src="{{ preview_image | img_url: '300x' }}"
              srcset="{{ preview_image | img_url: '300x' }} 300w,
                      {{ preview_image | img_url: '600x' }} 600w,
                      {{ preview_image | img_url: '900x' }} 900w"
              sizes="(max-width: 600px) 300px,
                     (max-width: 900px) 600px,
                     900px">
         {% if product.images.size > 0 %} 
        <img 
              loading="lazy"
              width="{{ product.images[1].width }}"
              height="{{ product.images[1].height }}"
              fetchpriority="low"
              class="grid-view-item__image second__image hide"
              alt="{{ preview_image.alt }}"
              src="{{ product.images[1] | img_url: '300x' }}"
              srcset="{{ product.images[1] | img_url: '300x' }} 300w,
                      {{ product.images[1] | img_url: '600x' }} 600w,
                      {{ product.images[1] | img_url: '900x' }} 900w"
              sizes="(max-width: 600px) 300px,
                     (max-width: 900px) 600px,
                     900px">
        {% endif %}
      </a>
      </div>
    </div>
  </div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ preview_image | img_url: image_size, scale: 2 }}" alt="{{ preview_image.alt }}" style="max-width: {{ max_height | times: preview_image.aspect_ratio }}px;">
  </noscript>

    <a class="" href="{{ product.url }}">
  <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">{{ product.title }}</div>
  </a>

  {% include 'product-price-listing', product: product, show_vendor: show_vendor %}

</div>
