{% style %}
  #shopify-section-{{ section.id }} {
    {% if section.settings.transparent_header %}
      position:fixed;
      top: var(--ticker-height-section);
      width:calc(100vw);
    {% else %}
      width:100%;
      position: sticky;
      top: 0;
    {% endif %}
      z-index: 10;
      transition: all 100ms ease;
      border-bottom: 1px solid var(--color-border-form);
  }
  #shopify-section-{{ section.id }} header:not(.transparent) {
    background-color: var(--color-bg);
  }
  #shopify-section-{{ section.id }} .transparent {
      background-color: var(--color-bg)00;
      transition: background-color 150ms ease-in;
  }
  #shopify-section-{{ section.id }}.scrolled {
    background-color: var(--color-bg);
    top:0!important;
  }

  #shopify-section-{{ section.id }}.scrolled .transparent {
    background-color: var(--color-bg);
  }

  #shopify-section-{{ section.id }}.scrolled .section-padding {
      transition: all 100ms ease;
  }

  #shopify-section-{{ section.id }} .section-padding {
      padding-top: calc({{ section.settings.padding_top }}rem);
      padding-bottom: calc({{ section.settings.padding_bottom }}rem);
  }

  #shopify-section-{{ section.id }}.scrolled .section-padding  {
      padding-top: calc({{ section.settings.padding_top }}rem / 4);
      padding-bottom: calc({{ section.settings.padding_bottom }}rem / 4);
  }
  #shopify-section-{{ section.id }} .nav_logo {
    height: {{ section.settings.logo_height }}px;
  }
  /* #shopify-section-{{ section.id }}.scrolled .nav_logo {
    height: calc({{ section.settings.logo_height }}px * 0.75);
    animation: none;
  } */

  @media (max-width: 1200px) {
    
    #shopify-section-{{ section.id }} .section-padding {
        padding-top: calc({{ section.settings.padding_top }}rem * 1);
        padding-bottom: calc({{ section.settings.padding_bottom }}rem * 1);
    }
    #shopify-section-{{ section.id }}.scrolled .section-padding  {
      padding-top: calc({{ section.settings.padding_top }}rem);
      padding-bottom: calc({{ section.settings.padding_bottom }}rem);
  }
    #shopify-section-{{ section.id }} .nav_logo {
    height: calc({{ section.settings.logo_height }}px * 0.75);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    justify-content: center;
  }
  }
{% endstyle %}

{% include 'search-drawer' %}


<header
  id="header"
  class="{% if section.settings.transparent_header %} transparent{% endif %} relative"
>
  <div class="padding-global">
    <div class="{{ section.settings.container_size }}">
      <div class="section-padding">
        <nav class="nav" aria-label="Main Menu">
          <button class="nav_hamburger nav_icon-link" aria-label="Open menu">
            <div class="nav_icon">{% render 'icon-hamburger' %}</div>
          </button>

          {% if request.page_type == 'index' %}
            <h1 class="h2" style="display:contents;">
          {% endif %}
          <a href="/" class="nav_logo" aria-label="Go to homepage">
            {% if section.settings.logo_svg != blank %}
              {{ section.settings.logo_svg }}
            {% elsif section.settings.logo %}
              {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
              {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
              <img class="lazyload js"
                   src="{{ section.settings.logo | img_url: '300x300' }}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ logo_alt | escape }}"
                   width="{{ section.settings.logo.width }}"
                   height="{{ section.settings.logo.height }}">
              <noscript>
                <img src="{{ section.settings.logo | img_url: '300x300' }}"
                     srcset="{{ section.settings.logo | img_url: '300x300' }} 1x, {{ section.settings.logo | img_url: '300x300', scale: 2 }} 2x"
                     alt="{{ section.settings.logo.alt | default: shop.name }}"
                     width="{{ section.settings.logo.width }}"
                     height="{{ section.settings.logo.height }}">
              </noscript>
            {% else %}
              {{ shop.name }} 
            {% endif %}
          </a>
          {% if request.page_type == 'index' %}
            </h1>
          {% endif %}

          <div class="nav_center">
            <button type="button" class="nav_center-close">
              ×
              <span class="visually-hidden">Close Menu</span>
            </button>
            {% for link in section.settings.main_menu.links %}
              {% if link.links != empty %}
                <details class="nav_dropdown">
                  <summary class="nav_dropdown-trigger" role="button" aria-haspopup="true">
                    {{- link.title -}}
                    {%- render 'icon-dropdown' %}
                  </summary>
                  <div class="nav_dropdown-list level-two">
                    
                    
                    {% for child_link in link.links %}
                    {% if child_link.links != empty %}
                        <details class="nav_dropdown">
                        <summary class="nav_dropdown-trigger" role="button" aria-haspopup="true">
                            {{- child_link.title -}}
                            {%- render 'icon-dropdown' %}
                        </summary>
                        <div class="nav_dropdown-list level-three">
                            {% for grandchild_link in child_link.links %}
                            <a
                                class="nav_link{% if grandchild_link.current %} current{% endif %}"
                                href="{{ grandchild_link.url }}"
                            >
                                {{- grandchild_link.title -}}
                            </a>
                            {% endfor %}
                        </div>
                        </details>
                    {% else %}
                        <a class="nav_link{% if child_link.current %} current{% endif %}" href="{{ child_link.url }}">
                        {{- child_link.title -}}
                        </a>
                    {% endif %}
                    {% unless forloop.last %}
                        <span class="nav_dropdown-separator" aria-hidden="true">/</span>
                    {% endunless %}
                    {% endfor %}
                  </div>
                </details>
              {% else %}
                <a class="nav_link{% if link.current %} current{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            {% endfor %}
            <div class="nav_mobile-icons">
              <a href="{{ routes.search_url }}" class="nav_icon-link is-mobile" aria-label="Search">
                <div class="nav_icon">{% render 'icon-search' %}</div>
              </a>
              <a href="{{ routes.account_url }}" class="nav_icon-link is-mobile" aria-label="Account">
                <div class="nav_icon">{% render 'icon-account' %}</div>
              </a>
              <a href="{{ routes.cart_url }}" class="nav_icon-link is-cart is-mobile js-open-cart" aria-label="Cart">
                <div class="nav_icon">{% render 'icon-cart' %}</div>
                <span class="nav_icon-overlay-text js-cart-count critical-hidden" data-cart-count-bubble data-cart-count>
                  {%- if cart.item_count > 0 -%}{{ cart.item_count }}{%- endif -%}
                </span>
              </a>
            </div>
          </div>

          <div class="nav_right">
            <a href="{{ routes.search_url }}" class="nav_icon-link is-desktop" aria-label="Search">
              <div class="nav_icon">{% render 'icon-search' %}</div>
            </a>
            <a href="{{ routes.account_url }}" class="nav_icon-link is-desktop" aria-label="Account">
              <div class="nav_icon">{% render 'icon-account' %}</div>
            </a>
            <a href="{{ routes.cart_url }}" class="nav_icon-link is-cart js-open-cart" aria-label="Cart">
              <div class="nav_icon">{% render 'icon-cart' %}</div>
              <span class="nav_icon-overlay-text js-cart-count critical-hidden" data-cart-count-bubble data-cart-count>
                {%- if cart.item_count > 0 -%}{{ cart.item_count }}{%- endif -%}
              </span>
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": {{ shop.name | json }},
      {% if section.settings.logo %}
        {% assign image_size = section.settings.logo.width | append:'x' %}
        "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
      {% endif %}
      "sameAs": [
        {{ settings.social_twitter_link | json }},
        {{ settings.social_facebook_link | json }},
        {{ settings.social_pinterest_link | json }},
        {{ settings.social_instagram_link | json }},
        {{ settings.social_tumblr_link | json }},
        {{ settings.social_snapchat_link | json }},
        {{ settings.social_youtube_link | json }},
        {{ settings.social_vimeo_link | json }}
      ],
      "url": {{ shop.url | append: page.url | json }}
    }
    </script>
    
    {% if request.page_type == 'index' %}
      {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "name": {{ shop.name | json }},
          "potentialAction": {
            "@type": "SearchAction",
            "target": {{ potential_action_target | json }},
            "query-input": "required name=search_term_string"
          },
          "url": {{ shop.url | append: page.url | json }}
        }
      </script>
    {% endif %}
<script>
  class Navigation {
    constructor() {
      this.header = document.getElementById('shopify-section-{{ section.id }}');
      this.navLeft = document.querySelector('.nav_center');
      this.navLeftClose = document.querySelector('.nav_center-close');
      this.hamburger = document.querySelector('.nav_hamburger');
      this.init();
    }

    init() {
      this.bindEvents();
    }

    bindEvents() {
      document.addEventListener('DOMContentLoaded', this.onDOMReady.bind(this));
      this.hamburger.addEventListener('click', this.toggleNav.bind(this));
      this.navLeftClose.addEventListener('click', this.closeNav.bind(this));
    }

    onDOMReady() {
      if (document.documentElement.scrollHeight <= window.innerHeight * 1.1) {
        this.header.style.position = 'static';
      } else {
        this.updateHeaderClass();
        this.disableTransitionTemporarily();
        window.addEventListener('scroll', this.updateHeaderClass.bind(this));
      }
    }

    updateHeaderClass() {
      if (window.scrollY > 80) {
        this.header.classList.add('scrolled');
      } else if (window.scrollY < 1) {
        this.header.classList.remove('scrolled');
      }
    }

    disableTransitionTemporarily() {
      this.header.classList.add('no-transition');
      setTimeout(() => {
        this.header.classList.remove('no-transition');
      }, 50);
    }

    toggleNav() {
      const isOpen = !this.navLeft.classList.contains('open');
      this.navLeft.classList.toggle('open', isOpen);
      this.hamburger.setAttribute('aria-expanded', isOpen);
      this.navLeft.setAttribute('aria-hidden', !isOpen);

      if (isOpen) {
        this.addOutsideClickListener();
      } else {
        this.removeOutsideClickListener();
      }
    }

    closeNav() {
      this.toggleNav(false);
      this.removeOutsideClickListener();
    }

    addOutsideClickListener() {
      this.outsideClickListener = (event) => {
        const isClickInsideNavLeft = this.navLeft.contains(event.target);
        const isClickHamburger = this.hamburger.contains(event.target);

        if (!isClickInsideNavLeft && !isClickHamburger) {
          this.toggleNav(false);
          this.removeOutsideClickListener();
        }
      };

      document.addEventListener('click', this.outsideClickListener);
    }

    removeOutsideClickListener() {
      document.removeEventListener('click', this.outsideClickListener);
    }
  }

  new Navigation();

  const detailsElements = Array.from(document.querySelectorAll('details'));
  let outsideClickListener;

  detailsElements.forEach((details) => {
    details.addEventListener('toggle', function () {
      if (this.open) {
        const otherDetails = detailsElements.filter((detail) => {
          // Check if this details element is not a parent of the current one
          return detail !== this && !detail.contains(this);
        });
        otherDetails.forEach((detail) => (detail.open = false));

        outsideClickListener = (event) => {
          if (!this.contains(event.target)) {
            this.open = false;
            removeClickListener();
          }
        };

        document.addEventListener('click', outsideClickListener);
      } else {
        removeClickListener();
      }
    });
  });

  const removeClickListener = () => {
    document.removeEventListener('click', outsideClickListener);
  };
</script>

{% schema %}
{
  "name": "Main Menu",
  "settings": [
    {
      "type": "link_list", 
      "id": "main_menu",
      "label": "Main Menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "html",
      "id": "logo_svg",
      "label": "Logo SVG",
      "info": "Paste your SVG code here. This will override the logo image if provided."
    },
    {
      "type": "range",
      "id": "logo_height",
      "label": "Logo Height",
      "min": 10,
      "max": 100,
      "step": 5,
      "default": 25,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "transparent_header",
      "label": "Transparent Header",
      "default": false,
      "info": "Check this box to make the header background transparent at the top of the page."
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "Container Size",
      "default": "container-large",
      "options": [
        {
          "value": "container-xsmall",
          "label": "XSmall"
        },
        {
          "value": "container-small",
          "label": "Small"
        },
        {
          "value": "container-medium",
          "label": "Medium"
        },
        {
          "value": "container-large",
          "label": "Large"
        },
        {
          "value": "",
          "label": "None"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "default": 4,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 20,
      "step": 0.5,
      "default": 4,
      "unit": "rem"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .nav {
    --nav-padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: calc(-1 * var(--nav-padding)); */
    margin-right: calc(-1 * var(--nav-padding) / 1.5);
    transition: all 100ms ease;
    z-index: 10;
  }

  .nav_center {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0%;
    justify-content: center;
  }

  .nav_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 12rem;
  }

  .nav_icon-link {
    color: inherit;
    padding: calc(var(--nav-padding) / 1.5);
    border-radius: 0.5rem;
    position: relative;
  }
  .nav_icon-link.is-mobile {
    display:none;
  }
  .nav_mobile-icons {
    display:none;
  }
  @media screen and (max-width: 1200px) {
    .nav_icon-link.is-desktop {
      display:none;
    }
    .nav_mobile-icons {
      display: flex;
      padding: 2rem 2.5%;
      margin-top: 1rem;
      border-top: 1px solid var(--color-border);
      width: 100%;
    }
    .nav_icon-link.is-mobile {
      display:block;
    }
  }

  .nav_icon-link:hover {
    /* background-color: var(--color-bg-alt); */
    text-decoration:underline;
  }

  .nav_icon {
    width:1.25rem;
    height:1.25rem;
  }

  .nav_icon-overlay-text {
    font-size: 0.65rem;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    color: var(--color-text);
    padding-top: 0.3rem;
  }

  .nav .current {
    color: var(--color-text);
  }

  .nav_dropdown {
    display: block;
    color: inherit;
  }
  .nav_dropdown > summary::-webkit-details-marker {
    display: none;
  }

  .nav_dropdown summary.nav_dropdown-trigger {
    cursor: pointer;
    padding: var(--nav-padding);
    color: inherit;
    border-radius: 0;
    list-style: none;
    transition: all 0ms linear;
    text-transform: uppercase;
  }

  .nav_dropdown-separator {
    color: var(--color-border-form);
  }

  .nav_dropdown summary.nav_dropdown-trigger {
    display: flex;
    align-items: center;
  }

  .nav_dropdown summary.nav_dropdown-trigger svg {
    width: 0.5rem;
    margin-left: 0.5rem;
    position: relative;
    top: 0.1rem;
    color: currentColor;
    transition: all 0ms linear;
  }

  .nav_dropdown[open] > summary.nav_dropdown-trigger svg {
    transform: rotate(180deg) translateY(0.125rem);
    transition: all 0ms linear;
    color: var(--color-text);
  }

  .nav_dropdown[open] > summary.nav_dropdown-trigger {
    color: var(--color-text);
  }

  .nav_dropdown .nav_dropdown-list {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100vw;
    padding: 0rem 1rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0ms linear;
    margin-top: 0;
  }

  .nav_dropdown[open] .nav_dropdown-list {
    opacity: 1;
    visibility: visible;
    transition:all 0ms linear;
  }

  .nav_dropdown .nav_dropdown-list.level-two {
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-border-form);
  }

  .nav_dropdown .nav_dropdown-list.level-two,
  .nav_dropdown .nav_dropdown-list.level-three {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.15rem;
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  .nav_dropdown .nav_dropdown-list.level-three {
    border-bottom: 1px solid var(--color-border-form);
    text-transform: none;
    top: calc(100% + 1px);
  }

  .nav_dropdown-list.level-three .nav_link {
    text-transform: none;
  }

  .nav_link {
    padding: var(--nav-padding);
    color: inherit;
    text-decoration: none;
    border-radius: 0;
    display: inline-block;
    text-transform: uppercase;
  }

  .nav_link:hover:not(.nav_sublink),
  .nav_dropdown-trigger:hover {
    /* background-color: var(--color-bg-alt); */
    text-decoration:underline;
  }

  .nav_dropdown .nav_link {
    padding: 1rem;
  }

  .nav_logo {
    color: inherit;
    height: 4rem;
    transition: height 200ms ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 12rem;
    max-width:12rem;
    object-fit:contain;
    object-position:left center;
  }

  .nav_logo svg {
    height:100%;
    width:auto;
  }

  .nav_hamburger {
    display: none;
  }

  .nav_center-close {
    display: none;
  }

  @media (max-width: 1200px) {
    .nav {
      margin-left: calc(-1 * var(--nav-padding) / 2);
      margin-right: calc(-1 * var(--nav-padding) / 2);
      gap:0.5rem;
    }
    .nav_dropdown[open] > summary.nav_dropdown-trigger svg {
      color: inherit;
    }

    .nav_dropdown[open] > summary.nav_dropdown-trigger {
      color: inherit;
    }
    .nav_dropdown .nav_dropdown-list.level-two {
      flex-direction:column; 
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0;
      width: 100%;
      border-radius: var(--border-radius);
      padding: 0.5rem;
      gap: 0.25rem;
      border:none;
    }
    .nav_dropdown .nav_dropdown-list.level-two .nav_link, .nav_dropdown .nav_dropdown-list.level-two .nav_dropdown-trigger {
      font-size: 1rem;
      padding: 0.75rem 1rem;
      width:100%;
    }
    .nav_dropdown .nav_dropdown-list.level-three {
      flex-direction:column; 
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0;
      width: 100%;
      background-color: transparent;
      color:inherit;
      border:none;
    }

    .nav_dropdown .nav_dropdown-list.level-three .nav_link {
      width: 100%;
      font-size:0.85rem;
      padding: 0.5rem;
    }

    .nav_dropdown-separator {
      display: none;
    }

    .nav .current {
      color: unset;
    }
    .nav_center-close {
      display: block;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
      color: var(--color-text);
      border:none;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      background-color: transparent;
      transition: all 100ms ease;
      font-size: 2rem;
      font-weight: 300;
      border:none;
      outline:none;
      padding: 0;
      line-height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-appearance: none;
      justify-self: flex-start;
    }

    .nav_icon {
      width:1.5rem;
      height:1.5rem;
    }

    .nav_center-close > * {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav_center-close svg {
      width: 100%;
      height: 100%;
    }

    .nav_center-close .icon-close {
      fill: var(--color-bg);
      width: 100%;
      height: 100%;
    }

    .nav_dropdown .nav_dropdown-list {
      position: relative;
      top: 0;
      background-color: var(--color-bg);
    }

    .nav_dropdown .nav_dropdown-list .nav_link {
      width: auto;
      color: var(--color-text);
    }

    .nav_center-close:hover {
      transform: scale(1.05);
    }

    .nav_hamburger {
      display: block;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    .nav_logo {
      height: 4rem;
      margin-left: 0.5rem;
      margin-right: auto;
    }

    .nav_logo svg {
      width: auto !important;
    }

    .nav_center {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -100%;
      width: 80%;
      background-color: var(--color-bg);
      border-right: 1px solid var(--color-border-form);
      color: var(--color-text);
      transition: left 150ms ease;
      z-index: 20;
      display: flex;
      flex-direction: column;
      padding: 4rem 1.5% 10rem;
      overflow-y: scroll;
      font-size: 1.25rem;
      gap: 0.5rem;
      justify-content: flex-start;
      max-width:375px;
    }

    .nav_center .nav_dropdown,
    .nav_center .nav_link {
      width: 100%;
    }

    .nav_center.open {
      left: 0;
    }

    .nav {
      padding-left: 0.5rem;
    }

    .nav_icon-link {
      padding: calc(var(--nav-padding) / 2);
    }
  }
{% endstylesheet %}